outputs/*
__pycache__/*
commons/__pycache__/*
training/__pycache__/*
tuning/__pycache__/*
build/
dist/
Pipfile
Pipfile.lock
.mypy_cache/
.vscode/
.idea/
chefboost.egg-info/
tests/outputs/
chefboost/__pycache__/*
chefboost/commons/__pycache__/*
chefboost/commons/__init__.py
chefboost/training/__pycache__/*
chefboost/training/__init__.py
chefboost/tuning/__pycache__/*
chefboost/tuning/__init__.py
chefboost/__init__.py
