outputs/*
__pycache__/*
commons/__pycache__/*
training/__pycache__/*
tuning/__pycache__/*
build/
dist/
Pipfile
Pipfile.lock
.mypy_cache/
.vscode/
.idea/
chefboost.egg-info/
tests/outputs/
chefboost/__pycache__/*
chefboost/commons/__pycache__/*
chefboost/training/__pycache__/*
chefboost/tuning/__pycache__/*
.DS_Store
chefboost/.DS_Store
tests/.DS_Store
